<div class="wrapper" *ngIf="userAuthenticated">
  <div class="content">
    <!-- This is the section for the lists containing the sections and units -->

    <div class="example-container">
      <h2>Chassis</h2>

      <div
        cdkDropList
        #chassisList="cdkDropList"
        [cdkDropListData]="chassis"
        [cdkDropListConnectedTo]="[buildList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of chassis" cdkDrag>
          <mat-accordion class="acc">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox class="checkboxpad">Axle</mat-checkbox>
              <mat-checkbox class="checkboxpad">Hydraulics</mat-checkbox>
              <mat-checkbox class="checkboxpad">Floor</mat-checkbox>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-icon>double_arrow</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Build</h2>

      <div
        cdkDropList
        #buildList="cdkDropList"
        [cdkDropListData]="build"
        [cdkDropListConnectedTo]="[chassisList, fitoutList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of build" cdkDrag>
          <mat-accordion class="acc">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox class="checkboxpad">Seats</mat-checkbox>
              <mat-checkbox class="checkboxpad">Walls</mat-checkbox>
              <mat-checkbox class="checkboxpad">Partitions</mat-checkbox>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-icon>double_arrow</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Fit-Out</h2>

      <div
        cdkDropList
        #fitoutList="cdkDropList"
        [cdkDropListData]="fitout"
        [cdkDropListConnectedTo]="[buildList, trimList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of fitout" cdkDrag>
          <mat-accordion class="acc">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox class="checkboxpad">Back</mat-checkbox>
              <mat-checkbox class="checkboxpad">Office</mat-checkbox>
              <mat-checkbox class="checkboxpad">Canteen</mat-checkbox>
              <mat-checkbox class="checkboxpad">Generator</mat-checkbox>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-icon>double_arrow</mat-icon>
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2>Trim</h2>

      <div
        cdkDropList
        #trimList="cdkDropList"
        [cdkDropListData]="trim"
        [cdkDropListConnectedTo]="[fitoutList, sprayList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of trim" cdkDrag>
          <mat-accordion class="acc">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox class="checkboxpad">Trim</mat-checkbox>
              <mat-checkbox class="checkboxpad">Lifting Eyes</mat-checkbox>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-icon>double_arrow</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Spray</h2>

      <div
        cdkDropList
        #sprayList="cdkDropList"
        [cdkDropListData]="spray"
        [cdkDropListConnectedTo]="[fitoutList, trimList, finishList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of spray" cdkDrag>
          <mat-accordion class="acc">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox class="checkboxpad">1st coat</mat-checkbox>
              <mat-checkbox class="checkboxpad">2nd coat</mat-checkbox>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-icon>double_arrow</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Finish</h2>

      <div
        cdkDropList
        #finishList="cdkDropList"
        [cdkDropListData]="finish"
        [cdkDropListConnectedTo]="[sprayList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of finish" cdkDrag>
          <mat-accordion class="acc">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-checkbox class="checkboxpad">Back</mat-checkbox>
              <mat-checkbox class="checkboxpad">Office</mat-checkbox>
              <mat-checkbox class="checkboxpad">Canteen</mat-checkbox>
              <mat-checkbox class="checkboxpad">Roof</mat-checkbox>
              <mat-checkbox class="checkboxpad">Lights</mat-checkbox>
              <mat-checkbox class="checkboxpad">Stickers</mat-checkbox>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-icon>double_arrow</mat-icon>
        </div>
      </div>
    </div>

    <!-- Main content END-->
  </div>
  <!-- Outer Wrapper END-->
</div>
