<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Damir Pasic</h2>
            <h4>Damir@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Damir Pasic">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink= "/">
        <mat-icon>dashboard</mat-icon>
         Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink= "/staff">
        <mat-icon>face</mat-icon>
        Staff
    </a>
    
<mat-divider></mat-divider>

<h2 matSubheader>Tools</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink= "/sales"> 
    <mat-icon> attach_money </mat-icon> 
    Sales
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink= "/stores"> 
    <mat-icon>business</mat-icon> 
    Branches
</a>

<mat-divider> </mat-divider>

</mat-nav-list>

