

.content{
    padding-bottom: 3em;
}
mat-card {
    height: auto;
    margin-top: 1em;
}
.card{
   
    margin-top: 10em;
   
   
}
.searchbar{
  padding-left: 13em;
    position: absolute;
   
  

}



