mat-card{
    margin: 10% 30% auto;
    width: 40%;
    height: 200px;
    position: absolute;

}

mat-form-field {
    margin-left: 10%;
    width: 80%;
    
}

button{
    width: 80%;
    margin-left: 10%;
}

mat-spinner{
    margin: auto;
}