<div calss="wrapper">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card class="receipt-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ post.id }}</mat-card-title>
        <mat-card-subtitle>{{ post.title }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />

      <mat-card-content>
        <p>{{ post.body }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/sales">BACK</button>
        <button mat-button>PRINT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
